<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <!-- Bootstrap link, if desired -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- connect to static folder css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header class="navbar">
        <div class="welcome">
            <h1>Add New Recipe</h1>
        </div>
        <div class="links">
            <a href="/dashboard">Dashboard</a> | 
            <a href="/logout">Logout</a>
        </div>
    </header>
    <!-- Basic form -->
    <div class="alert">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="alert-danger">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container-fluid">
        <form action="/create-recipe" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="date_made">Date Made:</label><br>
                    <input type="date" name="date_made">
                </div>
                <div class="form-group col-md-3">
                    <label for="time">Under 30 Minutes?</label><br>
                    <input type="radio" name="time" value="Yes">
                    <label for="time">Yes</label>
                    <input type="radio" name="time" value="No">
                    <label for="time">No</label>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="instructions">Instructions:</label>
                <textarea name="instructions" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
    </div>
</body>
</html>